.button {
    width: 180px;
    height: 180px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: 50%;
    cursor: pointer;
  }