.trigger-pin{
    /* position: relative !important; */
    
}
.hero-section-expand{
    min-height: 100vh;
    width:100%;
    overflow: hidden;
    background-color: var(--lightYellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    z-index: 1;
    gap: 58px;
}

.hero-section-expand .big-text{
    font-family: Be Vietnam Pro;
    font-size: 72px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0em;
    text-align: center;

}

.hero-section-expand .content-area .row1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:30px
}

.hero-section-expand .content-area .description{
    font-family: Be Vietnam Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 43px;

}

.hero-section-expand .credential{
    font-family: Be Vietnam Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    background-color: black;
    padding: 24px 53px;
    border-radius: 60px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: fit-content;

}

.hero-section-expand .content-area .row1 .word-split{
    line-height: 93px;
}


.hero-section-expand .content-area .row1 svg{
    overflow: visible;
    display: block;
    transform-origin: bottom center;
}

.sevices-clone{
    position: absolute !important;
    bottom: 0px;
}



/*----Marquee Slide Posts-----*/


.marquee-post-slide{
    background-color: white;
    width: 959px;
    overflow: hidden;
    padding: 27px 33px;
    border-radius: 59px;
    position: relative;
}

.marquee-post-slide .arrow{
    position: absolute;
    right:11px;
    top: 50%;
    z-index: 2;
    width:64px ;
    transform: translateY(-50%);
}


.marquee-post-slide:after{
    content: '';
    height: 100%;
    width:90px;
    background: linear-gradient(270deg, #FFFFFF 41.45%, rgba(255, 255, 255, 0) 106.12%);
    position: absolute;
    right:0;
    top: 0;
    display: block;
    z-index: 1;
}
.marquee-post-slide:before{
    content: '';
    height: 100%;
    width:90px;
    background: linear-gradient(90deg, #FFFFFF 41.45%, rgba(255, 255, 255, 0) 106.12%);
    position: absolute;
    left:0;
    top: 0;
    display: block;
    z-index: 1;
}
.marquee-post-slide .marquee-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.marquee-post-slide .post-slide-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 57px;
    padding-right: 57px
}


.marquee-post-slide .post-item>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    /* width: 100%; */
}

.marquee-post-slide .post-item .icon{
    width: 32px;
}

.marquee-post-slide .post-item .title{
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}
