.trigger-pin{
    /* position: relative !important; */
    
}
.hero-section-expand{
    min-height: 100vh;
    width:100%;
    overflow: hidden;
    background-color: var(--lightYellow);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    z-index: 1;
}

.hero-section-expand .big-text{
    font-family: Be Vietnam Pro;
    font-size: 72px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0em;
    text-align: center;

}

.hero-section-expand .content-area .row1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:30px
}

.hero-section-expand .content-area .description{
    font-family: Be Vietnam Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 43px;

}

.hero-section-expand .credential{
    font-family: Be Vietnam Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    background-color: black;
    padding: 24px 53px;
    border-radius: 60px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: fit-content;

}

.hero-section-expand .content-area .row1 .word-split{
    line-height: 93px;
}


.hero-section-expand .content-area .row1 svg{
    overflow: visible;
    display: block;
    transform-origin: bottom center;
}

.sevices-clone{
    position: absolute !important;
    bottom: 0px;
}

