.iconic-projects-slide{
    min-height: 100vh;
    width: 100%;
    padding-top: 100px !important;
}

.iconic-projects-slide .heading{
    font-family: Be Vietnam Pro;
    font-size: 52px;
    font-weight: 500;
    line-height: 73px;
    letter-spacing: 0.0025em;
    text-align: left;

}
.iconic-projects-slide .introduction{
    position: relative;
}
.iconic-projects-slide .introduction .heading-english{
    font-family: Be Vietnam Pro;
    font-size: 130px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0.0025em;
    text-align: left;

    position: absolute;
    top: 37px;
    color: rgba(0, 0, 0, 0.03);
    
}

.iconic-projects-slide .projects-slide{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 37px;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 95px !important;
    /* overflow: scroll; */
    /* transition: .3s; */
}
.iconic-projects-slide .projects-slide .project-item:first-child{
    margin-left: 100px;

}
.iconic-projects-slide .projects-slide .project-item:last-child{
    margin-right: 100px;

}
.iconic-projects-slide .projects-slide .project-item{
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    transition: 0.3s;
}
.iconic-projects-slide .projects-slide .project-item .image-project{
   height: 100%;
   width: 100%;
}
.iconic-projects-slide .projects-slide .project-item .image-project>a{
   height: 100%;
   display: block;
   width: 100%;
}
.iconic-projects-slide .projects-slide .project-item .image-project>a>img{
   height: 100% !important;
   display: block;
   width: 100% !important;
}
.iconic-projects-slide .projects-slide .project-item.not-hover{
    opacity: 0.3;
}


.iconic-projects-slide .projects-slide .project-item:nth-child(odd){
    width: 484px !important;
    height: 60vh;
}

.iconic-projects-slide .projects-slide .project-item:nth-child(even){
    width: 616px !important;
    height: 40vh;
}


.iconic-projects-slide .projects-slide .project-item .image-project a{
    display: block;
    height: 100%;
    width: 100%;
}
.iconic-projects-slide .projects-slide .project-item .image-project a img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.iconic-projects-slide .projects-slide .project-item .project-info{
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    bottom: 20px;
    background-color: white;
    padding: 13px 31px;
    border-radius: 100px;
    left:15px;
    outline: 6px solid rgba(255,255,255,0.3)

}
.iconic-projects-slide .projects-slide .project-item .project-name{
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;    

}
.cursor-iconic {
    position: fixed !important;
    z-index: 100;
    pointer-events: none;
    width: 419px;
    /* transition: 0.7; */
    opacity: 0;
    translate: scale(.5);
    transition: opacity 0.7s;
}
.cursor-iconic.active {
    translate: scale(1);
    opacity: 1;
}
.cursor-iconic .arrow{
    width:45px;
    height: 45px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.cursor-iconic .row1-property{
    display: flex;
    gap: 6px !important;
}

.cursor-iconic .row1-property .project-property{

    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    flex-grow: 1;
    width: max-content;
    background-color: white;
    padding: 9px 18px 3px;
    border-radius: 100px;

}
.cursor-iconic .row1-property .project-property .value{

    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:10px;    

}
.cursor-iconic .preview-image img{
    border-radius: 8px;
    overflow: hidden;
}
.cursor-iconic .preview-image img{
        width: 100%;
        object-fit: cover;
        height: 232px;
        /* margin-top: 8px; */
        transition: 0.4;
        position: absolute;
        top: 0;
        opacity: 0;
        /* transition: all 0.6s; */
}
.cursor-iconic .preview-image img.active{
    opacity: 1;
}
.cursor-iconic .card__project--img-sub{
    height: 25px;
    width: 100%;
    background-color: rgba(255,255,255,0.66);
    display: flex;
    align-items: center;
    gap:4px;
    padding-left: 10px;
    margin-top: 8px;
    backdrop-filter: blur(10px);
    border-radius: 8px 8px 0px 0px;
    
   
  }
  
  .cursor-iconic .card__project--img-sub .img-eclipse{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
  }

.view-more-projects{
    background-color: rgba(204, 204, 204, 0.15);
    height: 300px;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius:35px;
}

.view-more-projects a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px !important;

    display: block;
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    
}

.iconic-category-slide{
    margin-bottom: 95px;
}
.iconic-category-slide .row1-line{
    margin-bottom: 27px
}
.iconic-category-slide .row-category{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:40px
}
.iconic-category-slide .row-category .slide{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    flex-shrink: 0;
}
.iconic-category-slide .row-category .category-name{
    font-family: Be Vietnam Pro;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 30px 55px;

}
.iconic-category-slide .row-category .category-item{
    flex-shrink: 0;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 82px;
    transition: 0.2s;
    
}
.iconic-category-slide .row-category .category-item:hover{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}