.our-services{
    width: 100%;
    min-height: 100vh;
    
    overflow: hidden;
    background-color: black;
    padding-top: 144px;
    padding-bottom: 150px;
    overflow: hidden !important;
    /* position: relative; */
    /* z-index: 10; */
}

.services{
    
overflow-x: hidden;
position: relative;
    z-index: 10;
}


.our-services .introduction{
   
    margin-bottom: 76px;
    position: relative;
    /* background-color: red; */

}

.our-services .introduction .title{
    font-family: Be Vietnam Pro;
    font-size: 130px;
    font-weight: 800;
    line-height: 120px;
    letter-spacing: 0.0025em;
    text-align: left;
    color:var(--lightTransparentGrey);
    
    position: absolute;
    top: 0;

}
.our-services .introduction .description{
    font-family: Be Vietnam Pro;
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 538px;
    color:white;
    margin-top:14px ;
    margin-left: auto;

}
.our-services .services-list{
    position: relative;
    z-index: 3;
    opacity: 0;
    
}
.our-services .services-container{
    position: relative;
}
.our-services .services-list-clone{
    position: relative;
    z-index: 0;
    opacity: 1 !important;
    position: absolute;
    top: 0;
  
}

.our-services .services-list .row a{
    display: inline-block;
}

.our-services .row .separator{
    font-family: Be Vietnam Pro;
    font-size: 70px;
    font-weight: 300;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(118, 118, 118, 1);
    margin-left: 14px;
    margin-right: 74px;

}
.our-services .services-list .row .service-item{
    display: inline-flex;
    align-items: flex-start;
   

}
.our-services .services-list .row .service-item .name{
    color:white;
    font-family: Be Vietnam Pro;
    font-size: 70px;
    font-weight: 300;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: left;
    mix-blend-mode:lighten;

}
.our-services .services-list .row .service-item .index{
    color:rgba(118, 118, 118, 1);
    font-family: Be Vietnam Pro;
    font-size: 28px;
    font-weight: 500;
    margin-left:5px;
    letter-spacing: 0em;
    text-align: left;


}

.our-services .row:not(:last-child){
    margin-bottom: 13px;
}

.cursor-box{
    position: fixed;
    top: 0;
    width: 340px;
    height: 393px;
   
    border-radius: 8px;
    
    padding: 10px;
    border: 3px solid white;
    background-color: white;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.cursor-box .cursor-wrapper{
    transition: 0.2;
    display: grid;
    overflow:hidden;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: 100%;
    gap:10px
    
}

.cursor-box .service-item-image{
    height: 100% !important;
    width: 100% !important;

    /* background-color: white; */

  
}
.cursor-box .service-item-image img{
    display: block;
    height: 100% !important;
    object-fit: cover;
}

 .view-button{
    position: fixed !important;
    z-index: 2;
    top: 0;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-color: #455CE9;
    color:white;
    height: 30px;
    width:30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}

