.item--working__customer--container {
  display: flex;
  align-items: stretch;
  position: relative;
  transition: 0.3s;
  cursor: pointer;

  /* display: grid;
  grid-template-columns: 200px auto 1fr; */

}
.item--working__customer--container::after{
    content: "";
    width: calc(100% - 200px);
    height: 0.3px;
    background: #D9D9D9;
    position: absolute;
    left: 100px;
    bottom: 0;
}

.item--working__customer--container 
.item--working--content-NO {
  width: 10%;
  align-self: center;
}

.item--working__customer--container
 .item--working--content-NO p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-left: 100px;
  color: #000000;
}

.item--working__customer--container .item--working--content-title {
  width: 40%;
  padding-left: 88px;
  padding-right: 40px;
  align-self: center;
  transition: 0.3s;
}
.item--working__customer--container:hover .item--working--content-title {
  transform: scale(1.06);
}

.item--working__customer--container 
.item--working--content-title p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 66px;
  color: #000000;
}

.item--working__customer--container 
.item--working--content-des {
  width: 50%;
  display: flex;
  /* display: none; */
  opacity: 0;
  transition: 0.3s;
  padding-right: 40px;
  align-self: center;
}

.item--working__customer--container 
.item--working--content-des  p{
    font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* or 180% */

text-align: justify;

color: #000000;

}

.item--working__customer--container
.item--working--content-img {
  width: 10%;
  display: none;
  /* margin-bottom: -60px; */
}


.item--working__customer--container 
.item--working--content-img  img{
    width: 100%;
    height: auto;
    object-fit: cover;
    clipPath: circle(50% at 100% 100%);
    transition: 0.3s;

}
.item--working__customer--container:hover 
.item--working--content-img  img{
    
    clipPath: circle(96% at 100% 100%);

}


.item--working__customer--container:hover  .item--working--content-des{
   
    opacity: 1;
   
   
}
.item--working__customer--container .item--working--content-img{
  display: flex;
  width: 300px;
  /* height: 100%; */
  position: relative;
  /* align-self: flex-end; */
  opacity: 0;
  transition: 0.3s;
  
  
}
.item--working__customer--container:hover .item--working--content-img{

  opacity: 1;
  
  
}
.item--working__customer--container:hover .item--working--content-img img{
  display: flex;
  z-index: 2;
  position: relative;
  
  
}
.item--working__customer--container:hover{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.fake-border{
  background: rgba(247, 247, 247, 1);
  height: 100% !important;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  right: 0;
  clipPath: circle(0% at 100% 100%);
  transition: 0.3s;
}
.item--working__customer--container:hover .fake-border{
 
  clipPath: circle(100% at 100% 100%);
}