.container {
  margin: 0 100px;
}

.NewsDetail__back {
  margin-top: 186px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.NewsDetail__back p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 45px;
  color: #000000;
}
.NewsDetail__primary {
  margin-top: 100px;
}
.NewsDetail__primary-info {
  margin-bottom: 40px;
}

.NewsDetail__primary-info,
.NewsDetail__primary-time,
.NewsDetail__primary-user {
  display: flex;
  align-items: center;
}

.NewsDetail__primary-time {
  margin-right: 70px;
}

.NewsDetail__primary-title {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 68px;
  color: #000000;
  margin-top: 40px;
}

.NewsDetail__primary-img {
  width: 100%;
  height: 760px;
  object-fit: cover;
  border-radius: 32px;
}
/* NewsDetail info */

.NewsDetail__info {
  display: flex;
  margin-top: 90px;
  padding-bottom: 50px;
}
.NewsDetail__info--categories {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.NewsDetail__info-des {
  padding-left: 100px;
  width: 70%;
}
.NewsDetail__info-des p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 52px;
  margin: 0;
  color: #000000;
}
/* NewsDetail share */

.NewsDetail__share {
  display: flex;
  padding-top: 32px;
  border-top: solid 0.5px #d9d9d9;
}

.NewsDetail__share--icons {
  width: 30%;
}

.NewsDetail__share-content {
  width: 70%;
}

.NewsDetail__share--icons p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 52px;
  color: #000000;
  margin: 0;
}

.NewsDetail__share--icons-item a {
  margin-right: 12px;
  cursor: pointer;
}
.NewsDetail__share-content {
  padding-left: 100px;
}

.NewsDetail__share-content p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 42px;
  color: #000000;
  margin-top: 0;
}
/* NewsDetail__status */
.NewsDetail__status {
  margin-top: 60px;
  padding-bottom: 153px;
  position: relative;
}
.NewsDetail__status--title {
  position: relative;
  padding-bottom: 300px;
}

.NewsDetail__title--primary {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 73px;
  letter-spacing: 0.0025em;
  color: #000000;
  position: absolute;
  top: 5%;
}

.NewsDetail__title--bg {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 130px;
  line-height: 73px;
  letter-spacing: 0.0025em;
  color: rgba(0, 0, 0, 0.03);
  position: absolute;
  top: 0;
}
.NewsDetail__status-items .swiper-wrapper {
  display: flex;
  position: relative;
  /* gap: 32px; */
  /* justify-content: space-between; */
}

.swiper {
  display: flex;
}

.NewsDetail__status-container {
  
}
.NewsDetail__status-items:after {
  content: "";
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 16.24%, rgba(255, 255, 255, 0.76) 52.97%);
  position: absolute;
  width: 5%;
  height: 61%;
  z-index: 2;
  left: 0;
  top: 0;
}
.NewsDetail__status-items::before {
  content: "";
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 16.24%, rgba(255, 255, 255, 0.76) 52.97%);
  position: absolute;
  width: 5%;
  height: 61%;
  z-index: 2;

  right: 0;
  top: 0;
}

.newsDetail__status--next,
.newsDetail__status--prev {
  z-index: 3;
  cursor: pointer;
  position: absolute;
}
.newsDetail__status--prev {
  left: 0;
  top: 59%;
  /* transform: translateY(40%); */
  margin-left: -50px;

}
.newsDetail__status--next {
  right: 0;
  top: 59%;
  /* transform: translateY(100%); */
  margin-right: -50px;
}

.NewsDetail__status-container {

}

/* news detail document and reports */

.NewsDetail__document{
  padding-bottom: 150px;
  position: relative;
}
.NewsDetail__document--title{
  position: relative;
  margin-bottom: 120px;
}
.NewsDetail__document--title p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 73px;
  letter-spacing: 0.0025em;
  color: #000000;

}
.NewsDetail__document--bg {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 130px;
  line-height: 73px;
  letter-spacing: 0.0025em;
  color: rgba(0, 0, 0, 0.03);
  position: absolute;
  top: 50%;
  
}

/*  */
.NewsDetail__document--reports{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 34px;
  position: relative;
}

.NewsDetail__document--reports:after {
  content: "";
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 16.24%, rgba(255, 255, 255, 0.76) 52.97%);
  position: absolute;
  width: 6%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  margin-left: -55px;
}
.NewsDetail__document--reports::before {
  content: "";
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 16.24%, rgba(255, 255, 255, 0.76) 52.97%);
  position: absolute;
  width: 10%;
  height: 100%;
  z-index: 2;
  
  right: 0;
  top: 0;
  margin-right: -55px;
}

.NewsDetail__document .image-container{
  position: absolute;
  top: 47%;
  
}
.NewsDetail__document--next,
.NewsDetail__document--prev {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  /* top: 0%; */
}
.NewsDetail__document--prev {
  left: 0;
  margin-left: -50px;
  

}
.NewsDetail__document--next {
  right: 0;
  margin-right: -50px;
}
