.list--container {
  display: flex;
  width: 100%;
  height: 134px;
  border-bottom: solid 1px #d9d9d9;
}

.list--container .list__NO {
  width: 10%;
}
.list--container .list__NO p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #111215;
}
.list--container .list__name {
  width: 50%;
}

.list--container .list__name p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 70px;
  color: #111215;
}
.list--container .list__to-do {
  width: 20%;
  padding-top: 23px;
}

.list--container .list__to-do p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #111215;
  margin: 0;
}
.list--container .list__category {
  width: 20%;
}

.list--container .list__category p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #111215;
}

.list--container p{
  transition: 0.3s;
}
.list--container:hover p{
    color: #AEAEAE;
    cursor: pointer;
   
}