.project__container {
  width: 100%;
  height: auto;
  padding-bottom: 190px;
}

.project__header {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.project__header--text p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 98px;
  color: #000000;
}

.project__header--text p span.animation-text {
  font-family: Be Vietnam Pro;
  font-size: 80px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}
.project__header--text p span.clone-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  transition: all 0.1s;
}
.project__header--text p span.main-text {
  /* display: inline-block; */
  overflow: hidden;
  color: #f0f0f0;
  position: relative;
}

/* ----------------------------------------------- */
.project__categories {
  /* margin-top: 250px; */
}
.project__categories--title {
  /* margin-left: 100px; */
}

.project__categories--title-text > p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 73px;
  letter-spacing: 0.0025em;
  color: #000000;
  margin: 0;
  padding-bottom: 120px;
}

.project__categories--title-text {
  position: relative;
  margin-left: 100px;
}

.project__categories--title-bg > p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 130px;
  line-height: 73px;
  letter-spacing: 0.0025em;
  color: rgba(0, 0, 0, 0.03);
}

.project__categories--title-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(-20%);
  z-index: -1;
}

/* ------------------ */
.project__categories--item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 24px;
  overflow: hidden;
  cursor: grab;
  /* justify-content: flex-end; */
}

.project__categories--item .button__category {
  flex-shrink: 0;
  transition: 0.3s;
}
/* ----------------------------------------------- */
.project__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;
}
.project__order--select {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__order--select p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-right: 25px;
}

.project__order--display {
  display: flex;
  margin-right: 100px;
  cursor: pointer;
}
.project__order--display .project__order--display-list {
  margin-right: 24px;
}

/* ----------------------------------- */
.project__grid {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.project__grid .card__project--container {
  margin-top: 70px;
}
/* ------------------------------------------- */
.project__list {
  height: auto;
  margin: 0 100px;
}
/* -------------------------------------- */
.project__number--page {
  display: flex;
  justify-content: center;
  margin-top: 54.35px;
}

/* ------project list---------- */
.project__list--header {
  display: flex;
  width: 100%;
  height: 40px;
  padding-bottom: 75px;
  border-bottom: solid 1px #d9d9d9;
}
.project__list--header .project__list--header-NO {
  width: 10%;
}
.project__list--header .project__list--header-NO p,
.project__list--header .project__list--header-name-project p,
.project__list--header .project__list--header-to-do p,
.project__list--header .project__list--header-categories p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  text-transform: uppercase;
  color: #b4b5b6;
  margin: 0;
}
.project__list--header .project__list--header-name-project {
  width: 50%;
}

.project__list--header .project__list--header-to-do {
  width: 20%;
}

.project__list--header .project__list--header-categories {
  width: 20%;
}

/* ----------------button transfer display------------ */

.project__order--display .project__order--display-grid.active circle {
  fill: black;
  stroke: white;
}
.project__order--display .project__order--display-grid.active path {
  fill: black;
  stroke: white;
}
.project__order--display .project__order--display-list circle {
  fill: white;
  stroke: black;
}
.project__order--display .project__order--display-list path {
  fill: white;
  stroke: black;
}
.project__order--display .project__order--display-list.active circle {
  fill: black;
  stroke: white;
}
.project__order--display .project__order--display-list.active path {
  fill: black;
  stroke: white;
}

/*------------Cursor Display-----------*/

.cursor-project-item {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  /* transition: 0.2s; */
  width: 519px;
  height: 287px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.cursor-project-item .cursor-project-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.cursor-project-item .view-button-fake {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 90px;
  width: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s;
}

.cursor-project-item .cursor-project-wrapper .cursor-item {
  position: relative;
  height: 100%;
}

.cursor-project-item .cursor-project-wrapper .cursor-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cursor-project-item
  .cursor-project-wrapper
  .cursor-item
  img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.cursor-project-item .card__project--img-sub {
  height: 25px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 10px;
}

.cursor-project-item .card__project--img-sub .img-eclipse {
  height: 10px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.Dropdown-root {
  position: relative;
}
.Dropdown-arrow {
  width: 0;
  height: 0;
  content: "";
  display: block;
  background-color: transparent;
  border: 15px;
  border-style: solid;
  border-color: #000000;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  right: 30px;
  top: 40%;
}

/* CSS mobile-------------------------------------------------------------------- */
.project-detail__mobile {
  padding-bottom: 90px;
}

.project-detail__mobile .mobile__header {
  background: url("../../public/imgs/bgMobileProjectDetail.png");
  background-repeat: no-repeat;
  height: 228px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 16px 0 16px;


}

.project-detail__mobile .mobile__header .mobile__header--title {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.project-detail__mobile .mobile__body {
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  height: auto;
  margin-top: -48px;
  padding-top: 1px;
  /* position: relative; */
}

.project-detail__mobile .logo {
  position: relative;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%,-90%);
  /* top: 10%; */
  z-index: 1;
}

.project-detail__mobile .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-detail__mobile .mobile__hastag {
  text-align: center;
  margin-top: 49px;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #20202c;
}

.project-detail__mobile .mobile__parameter {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 9px;
}

.project-detail__mobile .mobile__parameter .amount-like {
  padding: 0 15px;
  border-left: solid 1px #d9d9d9;
  border-right: solid 1px #d9d9d9;
}
.project-detail__mobile .mobile__parameter .co-operate {
  padding-right: 15px;
}

.project-detail__mobile .mobile__parameter .amount-share {
  padding-left: 15px;
}

.project-detail__mobile .mobile__parameter > div > p:first-child {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.project-detail__mobile .mobile__parameter > div > p:last-child {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #8a898e;
}
.project-detail__mobile .button__mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  margin-top: 15px;
}

.project-detail__mobile .button__mobile button {
  height: 38px;
  border: none;
  border-radius: 5px;
}

.project-detail__mobile .button__mobile .mobile__btn--liveSitte {
  background-color: #5052fd;
  width: 154px;
  color: #ffffff;
  margin-right: 4px;
}

.project-detail__mobile
  .button__mobile
  .mobile__btn--liveSitte
  > p:first-child {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding-top: 2px;
  color: #ffffff;
}
.project-detail__mobile
  .button__mobile
  .mobile__btn--liveSitte
  > p:first-child
  svg {
  margin-left: 4px;
}
.project-detail__mobile .button__mobile .mobile__btn--liveSitte > p:last-child {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 14px;
  text-align: center;

  color: #ffffff;
}

.project-detail__mobile .button__mobile .mobile__btn--tuVan {
  background: #262626;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
  padding: 0 18px 0 18px;
}

.project-detail__mobile .mobile__tab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 7px;
  border-bottom: solid 1px #d9d9d9;
}

.project-detail__mobile .mobile__tab > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.project-detail__mobile .mobile__tab > div > p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-align: center;

  color: #939393;
}

.project-detail__mobile .mobile__tab .active__mobile--tab {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #262626;
}

.project-detail__mobile .mobile__desc--project {
  height: auto;
  z-index: 2;
  background-color: #ffffff;
 
}
.project-detail__mobile .mobile__desc--overview, 
.project-detail__mobile .mobile__desc--project .mobile__desc--prev-issue,
.mobile__desc--project .mobile__desc--conect
 {
  padding: 0 16px;
}

.project-detail__mobile .mobile__desc--overview > h4 {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 36px;
  color: #161a23;
  text-transform: uppercase;
  margin-top: 13px;
}

.project-detail__mobile .mobile__desc--overview > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 0;
}

.project-detail__mobile .mobile__desc--overview > div > .mobile__fields {
  display: flex;
  align-items: center;
}

.project-detail__mobile .mobile__desc--overview .mobile__fields > p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-left: 4px;
  color: #161a23;
}

.project-detail__mobile .mobile__desc--overview > div > .mobile__info {
  width: 50%;
}

.project-detail__mobile .mobile__desc--overview .mobile__info > p {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #908f93;
}

/*  */

.project-detail__mobile .mobile__desc--project .mobile__desc--prev-issue > h4 {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 36px;
  text-transform: uppercase;

  color: #161a23;
  margin-top: 13px;
}

.mobile__desc--project .mobile__desc--prev-issue > p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}
.mobile__desc--project .mobile__desc--prev-issue > div > p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  /* or 233% */

  text-align: justify;

  color: #262626;
  position: relative;
  padding-left: 20px;
}

.mobile__desc--project .mobile__desc--prev-issue > div > p::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-width: 8px 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent transparent #262626;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mobile__desc--project .mobile__desc--conect > h4 {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 36px;
  /* identical to box height, or 300% */

  text-transform: uppercase;

  color: #161a23;
}

.mobile__desc--project .mobile__desc--conect .desc__conect--head {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}


.mobile__desc--project .mobile__desc--conect .desc__conect--img {
  width: 100%;
  height: auto;;
  display: flex;
  justify-content: center;
}

.mobile__desc--project .mobile__desc--conect .desc__conect--img > div {
  width: 219px;
  height: 188px;
  
}

.desc__conect--img > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc__conect--foot {
  background-color: #f9f9f9;
  width: 100%;
}

.desc__conect--foot .conect__foot--user {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
align-items:flex-end;

}


.project-detail__mobile .desc__conect--foot {
  padding: 31px 16px 8px 16px;
}

.desc__conect--foot .conect__foot--content {

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #000000;
position: relative;
padding: 0 55.45px;
}

.conect__foot--content .content__tag-1 {
  position: absolute;
  top: 0;
  left: 20.72px;
}

.conect__foot--content .content__tag-2 {
  position: absolute;
  bottom: 0;
  right: 20.72px;
}
.desc__conect--foot .conect__foot--user {
  padding-right: 60.45px;
}
.desc__conect--foot .conect__foot--user span {
  text-transform: uppercase;
}

.desc__conect--foot .conect__foot--user .user__name{
  font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 600;
font-size: 8px;
line-height: 10px;
text-align: right;
padding-top: 9px;
color: #000000;
}

.desc__conect--foot .conect__foot--user  > div{
  font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 8px;
text-align: right;

color: #000000;
}


.project-detail__mobile .mobile__result--project {
  height: 500px;
}



.projects-list .swiper-wrapper{
  width: 100vw;
  height: 100vh;
}