/*------WHY OKHUB SECTION---------*/

.why-okhub{
    height: 100vh;
    width: 100%;
    background-color:#F7F7F7 ;
    overflow: hidden;
   
}
.why-okhub .why-okhub-wrapper{
    display: flex;
    flex-direction: row;
    gap: 122px;
    height: 100%;
    position: relative;

}

.why-okhub .why-okhub-wrapper:before{
    content: '';
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(247,247,247,0) 100%);
    top: 0;
    left: 0;
    z-index: 1;

}
.why-okhub .why-okhub-wrapper:after{
    content: '';
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(247,247,247,0) 100%);
    bottom: 0;
    left: 0;

}



/*--------COLUMN 1------*/
.why-okhub .column-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 712px;
    padding-top: 128px !important;
    padding-bottom: 128px !important;
 
   
}
.why-okhub .column-1 .reason-item{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5) ;
    position: relative;
    padding-left: 63px;
    opacity: 0.1;
}
.why-okhub .column-1 .reason-item .index{
    font-family: Be Vietnam Pro;
    font-size: 92px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0.0025em;
    text-align: left;
    color:rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0;
    
}
.why-okhub .column-1 .reason-item .title{
    font-family: Be Vietnam Pro;
    font-size: 33px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;

    
}
.why-okhub .column-1 .reason-item .content{
    font-family: Be Vietnam Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    

    
}

/*--------COLUMN 2------*/
.why-okhub .column-2{
    display: flex;
    align-items: center;
    font-family: Be Vietnam Pro;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.0025em;
    text-align: right;
    height: 100%;
    flex-grow: 1;
    justify-content: right;
 

}
.why-okhub .column-2 .reason_text{
    position: relative;
}
.why-okhub .column-2 .the-trust{
    font-family: Be Vietnam Pro;
    font-size: 130px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: rgba(0, 0, 0, 0.03);
    position: absolute;
    bottom: -35px;
    width: max-content;

}

.showcase-section{
    min-height: 100vh;
    background-color: #F2F2F2;
    padding-top: 52px;
  }
.showcase-section .laptop{
  height: 371.07110595703125px;
  width: 669.47998046875px;
  width: 100%;
  box-shadow: 40px 40px 100px 0px rgba(112, 143, 163, 0.16);
  position: relative;
  
  
}


.showcase-section .laptop .version-pc{
  font-family: Be Vietnam Pro;
  font-size: 130px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: rgba(0, 0, 0, 0.03);
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  bottom: -153px;
  z-index: 0;

}

.showcase-section .slide-section{
  padding-bottom: 178px;

}
.showcase-section .slide-section .column-1 img.mockup-image{
    height: 100%;
    width: 100%;
    
    object-fit: cover;
    position: relative;
    z-index:2;
    border:8px solid white;
    border-radius: 0px 0px 20px 20px;

    
}
.showcase-section .slide-section .column-1 img.holder-frame{
   margin-right: auto;
   margin-left: auto;
   display: block;
   transform: translateY(-20px);
   position: relative;
   z-index: 1;

    
}
.laptop .card__project--img-sub{
    height: 25px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    gap:4px;
    padding-left: 10px;
    border-radius: 10px 10px 0px 0px;
    
   
  }
  
  .laptop .card__project--img-sub .img-eclipse{
    height: 10px;
    width: 10px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
  }
  .showcase-section .slide-section{
    display: flex;
    flex-direction: row;
    gap: 31px;
  
  }
  .showcase-section .slide-section .column-1{
    width: 50%;
  }
  .showcase-section .slide-section .column-2{
    width: 50%;
  }

  .showcase-section .slide-section .column-2 .image-item-slide img{
    width: 100%;
    height: auto;

  }

  .showcase-section .slide-section .column-2 .swiper-slide-active{
    /* box-shadow: 0px 0px 40px rgba(24, 48, 63, 0.1); */

  }

  .showcase-section .swiper-slide{
    opacity: 0.2;
    transition: 0.6s;
    border-radius: 12px;
    overflow: hidden;
    
  }
  .showcase-section .swiper-slide-active{
    opacity: 1;
    width:60% !important ;
    /* transform: scale(2) !important; */
  }
  .showcase-section .swiper-slide-next{
    width:40% !important ;
    /* transform: scale(2) !important; */
  }
  .showcase-section .swiper-slide-next .image-item-slide{
    width:calc(100% + 70px)
  }
  .showcase-section .swiper-slide-next .image-item-slide img{
    transform: translateX(-70px);
  }

  .showcase-section .column-2{
    min-height: 720px;
  }

  .showcase-section .column-2 .swiper-wrapper{
    display: flex;
    align-items: center;
  }

  .showcase-section .slide-section .column-1{

    display: flex;
    align-items: center;
    
  }


  .showcase-section .mobile-version{
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 248px;
    position: relative;
  }



  .showcase-section .mobile-version .images-wrapper-mobile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:80px ;
  }
  .showcase-section .mobile-version .images-wrapper-mobile .image-item-showcase{
    width: 100%;
    border-radius: 17px;
    overflow: hidden;
    border: 7px solid white;
    display: flex;
  }
  .showcase-section .mobile-version .images-wrapper-mobile .image-item-showcase:nth-child(2){
    transform: translateY(-48px);
  }
  .showcase-section .mobile-version .images-wrapper-mobile img{
    width: 100%;
    height: auto;
  }

  .showcase-section .mobile-version .version-mobile-text{
    position: absolute;
    font-family: Be Vietnam Pro;
  font-size:8vw;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: 0.0025em;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.03);
  width: 100%;
  white-space: nowrap;

  }

  .achievement .title{
    font-family: Be Vietnam Pro;
  font-size: 52px;
  font-weight: 500;
  line-height: 73px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: black;


}
.achievement .achievement-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 47px;
  

}
.achievement .achievement-wrapper .achievement-item{
 background-color: white;

}
.achievement .info{
    position: relative;
    margin-bottom: 242px;
  }

  .achievement .transparent-text{
    font-family: Be Vietnam Pro;
  font-size: 130px;
  font-weight: 800;
  line-height: 73px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: rgba(0, 0, 0, 0.03);
  position: absolute;
  bottom: -37px;

  }