.container {
  margin: 0 100px;
}

.news__back {
  margin-top: 186px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.news__back p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 45px;
  color: #000000;
}
.news__primary {
  margin-top: 100px;
}
.news__primary-info {
  margin-bottom: 40px;
}

.news__primary-info,
.news__primary-time,
.news__primary-user {
  display: flex;
  align-items: center;
}

.news__primary-time {
  margin-right: 70px;
}

.news__primary-title {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 68px;
  color: #000000;
  margin-top: 40px;
}

.news__primary-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news__info {
  display: flex;
  margin-top: 90px;

}
.news__info--categories {
  width: 30%;
}
.news__info--categories p {
  background: #f9f9f9;
  border-radius: 50px;
  text-align: center;
  padding: 4px 29px;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: rgba(91, 91, 91, 0.8);
  margin-right: 12px;
  height: fit-content;
}

.news__info-des {
    padding-left: 100px;
  width: 70%;
}
.news__info-des p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 52px;
  /* or 158% */

  color: #000000;
}

.news__info--categories {
  display: flex;
  flex-wrap: wrap;
}
