@media (min-width: 740px) and (max-width: 1023px){
    .container-padding{
        top: 0 !important;
        right: 0;
        justify-content: space-between;
        padding: 17px 50px;
    }
    .marquee-post-slide{
        width: 90%;
    }
    .content-area{
        width: 90%;
    }
    .hero-section-expand .big-text{
        font-size: 63px;
    }
    .hero-section-expand .content-area .description{
        font-size: 19px;
    }
    .hero-section-expand .credential{
        font-size: 18px;
    }
    .our-services .services-list .row .service-item .name{
        font-size: 33px;
    }
    .our-services .services-list .row .service-item .index {
        font-size: 22px;
    }
    .our-services .row .separator{
        font-size: 50px;
        margin-left: -2px;
        margin-right: 22px;
    }
    .our-services .introduction .title{
        font-size: 82px;
        /* white-space: pre; */
    }
    .iconic-projects-slide{
        width: 90% !important;
        margin: 0 auto !important;
    }
    .iconic-projects-slide .introduction .heading-english{
        font-size: 80px;
        top: 56px;
    }
    /* .iconic-projects-slide .projects-slide .project-item .image-project{
        width: 80%;
        height: 80%;
    } */
    .iconic-category-slide{
        /* width: 80%; */
    }
    .iconic-category-slide .row-category .category-name{
        font-size: 13px;
        padding: 20px 29px;
    }
    .client-section .clients-introduction .column-1 .description{
        font-size: 24px;
    }
    .client-section .column-2 .svgImage svg{
        width: 95%;
        margin: 0 auto;
    }
    .client-section .column-2 .svgImage{
        display: flex;
    }
    .client-section .clients-introduction .column-1 .value{
        font-size: 108px;
    }
    .clients-list .line .slide-client .client-item a{
        width: 150px;
        height: 150px;
    }
    .clients-list .line .slide-client .client-item a{
        font-size: 19px;
    }
    .review-section .column-1 .review-content-description .review-text{
        font-size: 18px;
        line-height: 35px;
    }
    /* Footer */
    .review-section .column-1 .review-footer .name{
        font-size: 20px;
    }
    .review-section .column-1 .review-footer .position{
        font-size: 17px;
    }
    .review-section .column-1 .review-footer{
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .review-section .column-1 .review-footer .customer{
        padding-left: 35px;
    }
    .review-section{
        padding-left: 50px;
    }
    .review-section .column-2{
        padding-left: 10px;
    }
    .review-section .column-2 .swiper-slide-active{
        width: 100% !important;
    }
    .review-section .column-2 .swiper-slide-next{
        opacity: 0;
    }
    .review-section .navigation .arrow{
        width: 60px !important;
        height: 60px !important;
    }
    .footer{
        flex-direction: column;
    }
    .footer__form--name::after{
        top: 23%;
    }
    .footer__form--email-and-phone, .footer__form-company-and-service, .footer__form--name-and-footer__form--company-name{
        padding-bottom: 25px;
    }
    .footer__form--note{
        padding-bottom: 85px;
    }
    .footer__form .button{
        bottom: -12%;
    }
    .footer__form{
        width: 80% !important;
    }
    .footer__contact{
        width: 100%;
        display: grid;
        grid-template-columns: 400px 450px;
        margin: 110px;
    }
     .footer__contact--title{
        width: 400px;
    }
    .footer__contact--des{
        width: 450px;
    } 
    .footer__form--arrow{
        margin-left: 20px;
    }
    .footer__contact--logo{
        display: none;
    }
    .images-animation-container{
        display: none;
    }
    .footer__nav--sub{
        flex-direction: column;
    }
    .footer__nav--company{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-bottom: 50px;
        margin-left: 0;
        height: 130px;
        justify-content: space-between;
    }
    .footer__nav--name{
        margin: 0;
    }
    .footer__nav--icon{
        margin: 0;
        justify-content: center;
    }
    .footer__form--name, .footer__form--email, .footer__form--company-name , .footer__form--phone, .footer__form--service{
        width: fit-content !important;
        margin: 0;
    }
    .footer__form--email-and-phone, .footer__form-company-and-service, .footer__form--name-and-footer__form--company-name{
        justify-content: space-between;
    }
    /* ------------ News  ------------ */
    .news__title-btn button{
        width: 150px;
        height: 150px;
    }
    .news__title-text p{
        font-size: 55px;
    }
    .news__title-text p span.animation-text{
        font-size: 55px;
    }
    .news__title-text p span.animation-text{
        font-size: 55px;
    }
    .news__title-text{
        padding-left: 20px;
        width: 700px;
    }
    .news__categories{
        margin-left: 55px;
    }
    .news__categories--items p{
        font-size: 30px;
    }
    .Dropdown-root .Dropdown-control{
        width: 238px;
        height: 58px;
    }
    .Dropdown-root .Dropdown-control .Dropdown-arrow-wrapper .Dropdown-arrow{
        top: 40%;
        border-width: 12px 8px 0;
    }
    .Dropdown-root.is-open .Dropdown-menu .Dropdown-option{
        font-size: 16px;
    }
    .news__selector--order{
        margin-left: 50px;
    }
    .news__selector--fileds{
        margin-right: 50px;
    }
    .news__selector--order p, .news__selector--fileds p{
        font-size: 18px;
    }
    .Dropdown-root .Dropdown-control .Dropdown-placeholder{
        font-size: 17px;
    }
    .news__status {
        margin-left: 50px;
        width: 90%;
    }
    .news__documents{
        margin-right: 50px;
    }
    .news__primary{
        flex-direction: column;
    }

    /* card News */
    .card__infor-time img, .card__info-user img{
        width: 15%;
    }
    .news__documents {
        width: 90%;
    }


    /* ---------- News details -------------- */
    .NewsDetail__primary-title{
        width: 100%;
    }
    .NewsDetail__primary-img{
        height: 500px;
    }
    .NewsDetail__info-des p{
        font-size: 22px;
        white-space: inherit;
    }
    .NewsDetail__share{
        flex-direction: column;
        align-items: center;
    }
    .NewsDetail__share-content{
        width: 100%;
        padding-left: 0;
    }
    .NewsDetail__share--icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .NewsDetail__share--icons-item{
        margin: 20px 0 80px;
        width: 350px;
        justify-content: space-between;
    }
    .NewsDetail__title--bg{
        font-size: 100px;
    }
    .NewsDetail__title--primary{
        font-size: 50px;
    }
    /* ----------- Chi tiết sản phẩm ------------ */
    .bgHead__img{
        height: 600px;
    }
    .bgHead__logo--img{
        width: 200px;
        height: 200px;
    }
    .bgHead__txt p{
        font-size: 45px;
    }
    .bgHead__wrap{
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }
    .bgHead__txt{
        width: fit-content;
    }
    .problem__wrap{
        margin: 0 30px;
    }
    .problem__data--title{
        font-size: 13px;
    }
    .problem__data--txt{
        font-size: 15px;
    }
    .problem__content--heading{
        font-size: 44px;
    }
    .problem__content--hide{
        font-size: 100px;
    }
    .problem__content--txt{
        font-size: 22px;
    }
    /* ------- Introduce -------- */
    .introduce__overview--header-des p{
        font-size: 22px;
    }
    .introduce__overview--bg-VN p{
        font-size: 120px;
    }
    .introduce__overview--body .introduce__overview--body-text .body-text--title{
        width: 80%;
    }
}