:root {
  --boder-bottom-footer: 0.5px solid #ffffff;
}

input {
  padding: 0;
}

.footer {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 141px;
  font-family: "Be Vietnam Pro";
}

.footer__form {
  width: 50%;
  margin: 0 72px 0 118px;
  position: relative;
}

.footer__contact {
  width: 50%;
  margin-left: 72px;
}

.footer__form--title {
  width: 100%;
  font-weight: 700;
  font-size: 52px;
  line-height: 66px;
  border-bottom: var(--boder-bottom-footer);
  padding-bottom: 50px;
}


.footer__form--note {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 43px;
  border-bottom: var(--boder-bottom-footer);
}

.footer__form--name>input,
.footer__form--note>input {
  outline: none;
  background-color: transparent;
  border: none;
  color: #787878;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  padding-top: 6px;
}

.footer__form--email-and-phone,
.footer__form-company-and-service,
.footer__form--name-and-footer__form--company-name {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 40px;
  border-bottom: var(--boder-bottom-footer);
}

.footer__form--email,
.footer__form--name {
  margin-right: 226px;
}

.footer__form--email>p,
.footer__form--phone>p,
.footer__form--company-name>p,
.footer__form--service>p,
.footer__form--name>p {
  margin-bottom: 9px;
}

.footer__form--email>input,
.footer__form--phone>input,
.footer__form--company-name>input,
.footer__form--service>input,
.footer__form--name>input {
  background: transparent;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #787878;
}

.footer__form--note>p {
  margin-bottom: 9px;
  font-style: normal;
}

.footer__form--note {
  padding-bottom: 110px;
}


.footer__form--name,
.footer__form--email,
.footer__form--company-name,
.footer__form--note,
.footer__form--phone,
.footer__form--service {
  position: relative;
  padding-left: 40px;
  width: 100%;
}


.footer__form--name::after {
  content: "01";
  position: absolute;
  left: 0%;
  top: 23%;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

.footer__form--email::after {
  content: "03";
  position: absolute;
  left: 0%;
  top: 25%;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

.footer__form--phone::after {
  content: "04";
  position: absolute;
  left: 0%;
  top: 25%;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

.footer__form--company-name::after {
  content: "02";
  position: absolute;
  left: 0%;
  top: 25%;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

.footer__form--service::after {
  content: "05";
  position: absolute;
  left: 0%;
  top: 18%;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

.footer__form--note::after {
  content: "06";
  position: absolute;
  left: 0%;
  top: 10%;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

/* .footer__form--service {
  padding-right: 50px;
} */


/* custom select react */
.basic-multi-select {
  outline: none;
  background: transparent;
}

.searchWrapper {
  border: none !important;
  padding: 0 !important;
  display: flex;
  /* display: none;   */
  max-width: 700px !important;
  max-height: 47px !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

.searchWrapper::-webkit-scrollbar{
  background-color: transparent;
  height: 7px;
  cursor: pointer !important;
}
.searchWrapper::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}
.searchWrapper::-webkit-scrollbar-thumb{
  background-color: #b8b8b8;
  border-radius: 20px;
}

.multiSelectContainer input {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  width: 14px;
  color: #787878;
  margin: 0 !important;
  /* padding-right: 50px; */

}

.checkbox {
  border-radius: 50% !important;
}

.optionListContainer .checkbox {
  margin-right: 9px !important;
}
.footer__form--wrap{
  /* height: 42px; */
  max-width: 284px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__form--arrow{
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 8px;
  border-color: transparent transparent #787878 transparent;
  transform: rotate(180deg);
}
.multiSelectContainer::before {
  display: none;
  content: "";
  position: absolute;
  right: 0;
  bottom: 10%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 8px;
  border-color: transparent transparent #787878 transparent;
  transform: rotate(180deg);
}

.multiselect-container .optionListContainer {
  background-color: rgba(255, 255, 255, 0.45) !important;
  backdrop-filter: blur(10px);
  border-radius: 12px !important;
  width: fit-content !important;
  overflow: hidden;
  transition: height 0.6s;
  margin-top: 7px;
  /* max-height: 250px !important; */
}
.multiselect-container .displayNone{
  height: 0;
  display: block !important;
}
.multiselect-container .displayBlock{
  height: 226px !important;
  /* max-height: 226px !important; */
}
.displayFlex{
  display: flex !important;
}
.custom-arrow{
  display: none;
}
.searchBox {
  height: 50px !important;
}
.multiSelectContainer ul {
  border: none !important;
}
.optionContainer{
  padding-right: 10px !important;
}
.optionContainer::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}
.optionContainer::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}
.optionContainer::-webkit-scrollbar-thumb{
  background-color: #FFF;
}
.option {
  padding-right: 60px !important;
  padding-left: 27px !important;
  font-size: 15px;
  border: 0.5px solid #A5A6A7;
  border-top: none;
  border-left: none;
  border-right: none;
}

.option:last-child {
  border: none;
}

.highlightOption {
  background-color: none !important;
}

.multiSelectContainer li:hover {
  background: none !important;
}

.highlight {
  background: none !important;
}

.footer__form .button {
  position: absolute;
  right: 8%;
  bottom: 0%;
  cursor: pointer;
}