.clien-section__container {
  background-color: #5052fd;
  background-repeat: no-repeat;
}
.clien-section__container .clien-section__shake-hand {
    position: relative;
}
.clien-section__container .clien-section__quantity {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 86px;
  line-height: 109px;
  color: #ffffff;
  margin-left: 16px;
  position: absolute;
  bottom: 12%;
}

.clien-section__container .clien-section__content {
    font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
position: absolute;
bottom: 5%;
margin: 0 86px 0 16px;
}

.clien-section__container .clien-section__content span{
    font-weight: 700;
}

.clien-section__container .clien-section__logo {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-left: 16px; */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding-top: 27px;
  padding-bottom: 110px;
}
