.container__proejct-post {
  width: 100%;
  height: auto;
  margin-top: 54px;
}
* {
  margin: 0;
}
.container__proejct-post .project-post__header {
  display: flex;
  align-items: center;
  margin-left: 19px;
}

.container__proejct-post .project-post__logo {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}



.container__proejct-post .project-post__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container__proejct-post .project-post__text {
}

.container__proejct-post .project-post__text > h3 {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
}

.container__proejct-post .project-post__text .project-post__hastag {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #262626;
}

.container__proejct-post .project-post__img {
  width: 100%;
  height: 382px;
  margin-top: 18px;
}

.container__proejct-post .project-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container__proejct-post .project-post__interactive {
  display: flex;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 10px;
  margin-left: 14px;
  
}

.container__proejct-post .project-post__interactive .project-post__amout-like {
  display: flex;
  align-items: center;
  margin-right: 27px;
}

.container__proejct-post .project-post__interactive svg {
  margin-right: 5px;
}
.container__proejct-post .project-post__amout-like svg {
  width: 23px;
  height: 23px;
}
.container__proejct-post .project-post__amout-like p >   span, 
.project-post__amout-share > p > span{
    margin-right: 2px;
}

.container__proejct-post .project-post__amout-like p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.container__proejct-post .project-post__amout-share {
  display: flex;
  align-items: center;
}
.project-post__amout-share svg {
  width: 21px;
  height: 17px;
}
.project-post__amout-share > p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #000000;
}

.container__proejct-post .project-post__desc {
  margin: 0 16px;
  margin-bottom: 14px;
}

.container__proejct-post .project-post__desc p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.container__proejct-post .project-post__desc > a {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
}

.btn_all-project {
    margin: 0 16px;
    margin-bottom: 34.2px;
}
