.footer-mobile__container {
  background-color: aliceblue;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7.5px);
  z-index: 1;
}

.mobile__nav--home svg g path {
}

.footer-mobile__container .footer-mobile__nav {
  display: flex;
  justify-content: space-around;
  padding-top: 14px;
}

.footer-mobile__container .footer-mobile__nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-mobile__container .footer-mobile__nav > div > p {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #c0c0c0;
}

.footer-mobile__container .footer-mobile__control {
  width: 100%;
  text-align: center;
  padding-bottom: 7px;
}
