.route-change{
    width: 100vw;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    z-index: 99;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Be Vietnam Pro;
    font-size: 70px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    color: white;


}

.route-change.loading{
    height: 100vh;
    /* animation: loading 2s infinite; */
}

@keyframes loading {
    0% {opacity: 0;}
    25% {opacity: 0.5;}
    50% {opacity: 1}
    75% { opacity: 0.5;}
    100% {opacity: 0;}

}